<ion-content [fullscreen]="true">
  <ng-container *ngIf="a$ | async; let aa;">
    <cdk-virtual-scroll-viewport [itemSize]="61" style="height: 600px;">
      <ng-container *cdkVirtualFor="let a of aa">
          <!-- Using ionic components inside cdkVirtualFor causes chunk loading failures -->
          <ion-label></ion-label>
          <!-- Using other components does not present this error in the test -->
          <app-my-component></app-my-component>
        </ng-container>
      </cdk-virtual-scroll-viewport>
  </ng-container>
</ion-content>
